/* Palette
  porcelin #f2f2e8
  darkbluegrey #314654
  lightbluegrey #425D70
  white #fff
*/
* {
  box-sizing: border-box;
}

.spacer {
  min-height: 20px;
  min-width: 20px;
}

html, body, .blog.container, .blog .blog-content, .blog .blog-nav {
  height: 100%;
}

.thin-border-lightgrey {
  border-top: 1px solid #425D70;
  border-bottom: 1px solid #425D70;
  border-left: 1px solid #425D70;
  border-right: 1px solid #425D70;
}

.thin-border-darkgrey {
  border-top: 1px solid #314654;
  border-bottom: 1px solid #314654;
  border-left: 1px solid #314654;
  border-right: 1px solid #314654;
}

.blog *:before,
.blog *:after {
  display: none;
}

.blog.container-fluid:before {
  content: '';
  display: block;
  float: left;
  height: 100%;
}

.blog.fill {
  position: relative;
}

.blog.fill:after {
  content: '';
  display: block;
  clear: left;
}

.blog .wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.blog-heading {
  padding-top: 50px;
  color: #fff;
}

.post {
  min-height: 500px;
  padding-bottom: 50px;
}

.post h2 {
  text-align: left;
  padding-bottom: 0px;
}

.post h3 {
  text-align: left;
  padding-top: 0px;
  font-size: 14px;
}

.post-content p {
  text-align: left;
  font-size: 14px;
}

.post-content h4 {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.blog-nav {
  position: static;
}

.blog-content {
  position: static;
  float: left;
  overflow: auto
}

.page-nav {
  height: 50px;
  z-index: 150;
  height: 50px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.featured {
  padding-top: 50px;
  background: #425D70;
  text-align: center;
  padding-bottom: 50px;
}

.featured a:link {
  color: #fff;
}

.featured small {
  color: #000;
}

.significant {
  background: #fff;
  color: #314654;
  text-align: center;
}

.standard {
  background: #f2f2e8;
  color: #314654;
  text-align: center;
}

.padding-tiny {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.padding-small {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.gist-code-container {
  text-align: left;
}
